body {
  width: 100%;
  height: 100%;
  margin: 0;
}
header {
  text-align: center;
}
nav > a {
  background: gray;
  padding:  0 10px;
}
#featured-property {
  text-align: center;
  margin-bottom: 20px;
}
figcaption {
  font-size: 12px;
}
.ft-p {
  width: 800px;
  margin: 20px auto 0;
}
#details {
  /*display: flex;*/
  /*align-items: center;*/
  /*justify-content: space-between;*/
}
#details > div {
  float: left;
  background-color: red;
  width: 25%;
  text-align: center;
}